#
# <meta:header>
#   <meta:licence>
#     Copyright (c) 2024, Manchester (http://www.manchester.ac.uk/)
#
#     This information is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
#
#     This information is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
#
#     You should have received a copy of the GNU General Public License
#     along with this program.  If not, see <http://www.gnu.org/licenses/>.
#   </meta:licence>
# </meta:header>
#

server:
    # https://mkyong.com/spring-boot/spring-boot-how-to-change-tomcat-port/
    port: 8082
    # https://stackoverflow.com/a/51962717
    tomcat:
        accesslog:
            enabled: true
    # https://www.baeldung.com/spring-boot-context-path
    servlet:
        #context-path: /baeldung
        context-path: /


# https://howtodoinjava.com/spring-boot/configure-logging-application-yml/
logging:
    level:
        net.ivoa: DEBUG
        com.baeldung: INFO
        org.hibernate: INFO
        org.apache.tomcat: INFO
        org.apache.catalina: INFO
        org.springframework: INFO

spring:
    application:
        name: Ambleck
    mvc:
        # https://stackoverflow.com/a/55679297
        log-request-details: true
    # https://www.baeldung.com/spring-boot-h2-database
    # https://stackoverflow.com/a/38047021
    datasource:
#       url: jdbc:h2:mem:testdb
#       username: sa
#       password: password
#       driverClassName: org.h2.Driver

        url: jdbc:postgresql://postgresql:5432/calycopis
        username: albert
        password: UVai0wie-wa9Eed4g
        driverClassName: org.postgresql.Driver

        initialize: true
    jpa:
        # https://medium.com/@hweemyoung/when-hibernate-dialect-not-working-d2c1eca549e3
        #database-platform: org.hibernate.dialect.H2Dialect
        hibernate:
          ddl-auto: create

    h2:
        console:
            enabled: true
            settings:
                web-allow-others: true


